.container{
    display: flex;
    justify-content: center;
}

.key{
    display: flex;
    width: var(--key_value_key_width);
    flex-shrink: 0;
    align-items: center;
}

.value{
    display: flex;
    overflow: scroll;
    width: 100%;
    align-items: center;
}