.container{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.container, .container_spacer{
    height: var(--navbar_height);
}

.bar{
    position: relative;
    background-color: var(--surface_color_1);
    color: var(--text_on_surface_color_1);
    display: flex;
    height: 100%;
    z-index: 998;
    box-shadow: var(--drop_shadow);
}

.list_container{
    width: var(--navbar_list_width);
    right: 0;
    position: absolute;
    z-index: 997;
    box-shadow: var(--drop_shadow);
}

.links_container{
    display: flex;
    margin-left: auto;
}