.container {
    display: flex;
}

.check_container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 30px;
    height: fit-content;
}

.number_container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 30px;
    height: fit-content;
}

.title_container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: var(--key_value_key_width);
    height: fit-content;
    border: 1px solid blue;
}

.content_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    border: 1px solid red;
}

.inner_content_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    border: 1px solid red;
}