.container{
    background-color: var(--surface_color_1);
    color: var(--text_on_surface_color_1);
    padding: 10px;
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
}

.active{
    background-color: var(--surface_color_3);
    color: var(--text_on_surface_color_3);
}