.container_table{
    /* This is important for using position in children containers */
    position: relative;
}

.container_title{
    display: flex;
    padding: 10px;
    background-color: var(--surface_color_1);
    color: var(--text_on_surface_color_1);
    align-items: center;
}

.list_container{
    width: var(--navbar_list_width);
    position: absolute;
    right: 0;
    z-index: 969;
}

.body_container{
    border: 1px solid var(--surface_color_1);
    padding: 10px;
}

.container_row_3 {
    display: grid;
    grid-template-columns: 30px 30px auto;
    overflow-wrap: break-word;
}

.container_row_2 {
    display: grid;
    grid-template-columns: 30px auto;
    overflow-wrap: break-word;
}

.container_row_1 {
    display: grid;
    grid-template-columns: auto;
    overflow-wrap: break-word;
}

.container_row_content {
    display: grid;
    grid-template-columns: var(--key_value_key_width) auto;
}

.container_row_content_content {
    display: grid;
    grid-template-columns: 10px auto;
}

.title_right_colon {
    float: right;
    margin-right: 10px;
}

/* Below demo css */
.container_primary_horizonatal_row {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
}

.row_lhs {
    overflow-x: scroll;
    width: 100%;
    border: 1px solid green;
}


.container_scrollable_horizonatal_row {
    overflow-x: scroll;
    width: 100%;
    border: 1px solid green;
}

.container_scrollable_horizonatal_row_column {
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    width: fit-content
}

.container_scrollable_horizonatal_row_column_content {
    border: 1px solid orange;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px
}

.container_horizontal_rhs_dots, .container_horizontal_lhs_dots {
    margin-bottom: auto;
    width: fit-content;
    border: 1px solid red;
}

.container_horizontal_rhs_dots {
    justify-self: end;
    margin-left: auto;
}

.container_horizontal_lhs_dots {
    justify-self: start;
    margin-right: auto;
}