.container_table{
    /* This is important for using position in children containers */
    position: relative;
}

.container_title{
    display: flex;
    padding: 10px;
    background-color: var(--surface_color_1);
    color: var(--text_on_surface_color_1);
    align-items: center;
}

.list_container{
    width: var(--navbar_list_width);
    position: absolute;
    right: 0;
    z-index: 969;
}

.body_container{
    border: 1px solid var(--surface_color_1);
    padding: 10px;
}

.container_row_3 {
    display: grid;
    grid-template-columns: 30px 30px auto;
    overflow-wrap: break-word;
}

.container_row_2 {
    display: grid;
    grid-template-columns: 30px auto;
    overflow-wrap: break-word;
}

.container_row_1 {
    display: grid;
    grid-template-columns: auto;
    overflow-wrap: break-word;
}

.container_row_content {
    display: grid;
    grid-template-columns: var(--key_value_key_width) auto;
}

.container_row_content_content {
    display: grid;
    grid-template-columns: 10px auto;
}

.title_right_colon {
    float: right;
    margin-right: 10px;
}

/* Below demo css */
.row_test {
    display: grid;
    grid-template-columns: 30px 30px auto 30px 30px;
    overflow-wrap: break-word;
    border: 1px solid red;
}