.title_container{
    display: flex;
    padding: 10px;
    width: 100%;
    background-color: var(--surface_color_1);
    color: var(--text_on_surface_color_1);
    align-items: center;
}

.body_container{
    width: 100%;
    border: 1px solid var(--surface_color_1);
    padding: 10px;
}