.container{
    position: fixed;
    height: 100%;
    background-color: var(--surface_color_1);
    color: var(--text_on_surface_color_1);
    left: 0;
    z-index: 800;
    box-shadow: var(--drop_shadow);
}

.container, .container_spacer{
    width: var(--dash_navbar_width_min);
    flex-shrink: 0;
}

.container_open, .container_spacer_open{
    width: var(--dash_navbar_width_max);
    flex-shrink: 0;
}